.bubbleDetailContainer {
    width: 74%;
    height: 810px;
    /* background-color: pink; */
    position: block;
    /* border-left: 1px double; */
    margin-top: -811px;
    float: right;
    right: 0;
}

.funcbtn {
    margin-left: 8px;
    width: 150px;
    box-shadow: 2px 2px 1px #f3f3f3;
    float: left;
}

.funcbtncontainer {
    width: 64%;
    height: auto;
    position: absolute;
    background-color: white;
}