.bubbleDetailContainer {
    width: 68%;
    height: 750px;
    /* background-color: pink; */
    position: block;
    /* border-left: 1px double; */
    margin-top: -680px;
    float: right;
    right: 0;
}