.datainfo {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: 180px;
    /* margin-left: 225px; */
    margin-top: 260px;
    right: 10px;
    font-size: 16px;
}

.highlightinfo {
    margin-top: 20px;
}

.highlighttext {
    color: brown;
    font-weight: bold;
    /* font-size: 20px; */
}

.alarmingInfo {
    color: red;
    font-weight: bold;
}

.azInfo {
    font-weight: bold;
    font-size: 15px;
}

.tooltip {
    width: auto;
    height: 300px;
    overflow-y: scroll;
}

.nodetooltip {
    height: auto !important
}

.btn {
    margin-top: -10px !important;
    margin-left: 10px;
    position: relative;
    top: -3px;
    width: 150px;
}