.podnodelinkContainer {
    width: 50%;
    height: 100%;
    /* background-color: pink; */
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 50%;
    position: absolute;
    top: 47px;
}