* {
  padding: 0;
}

.selection {
  position: absolute;
  left: 0;
  top: 147px;
  min-height: 850px;
  width: 220px;
  padding: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  box-sizing: border-box;
  z-index: 999;
  background-color: white;
  box-shadow: 0px 10px 20px #cdcfcf;
  scrollbar-width: none;

}

.selection .title {
  height: 70px;
  width: 190px;
  border-bottom: 3px solid #ccc;
  margin-bottom: 10px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  line-height: 70px;
}

.selection .content {
  min-height: 700px;
}

.selection .content ul.list {
  list-style-type: none;
}

.selection .content li.item {
  padding-top: 15px;
  overflow-y: scroll;
}

.areaSelection {
  height: 230px;
}

.roleSelection {
  height: 175px;
}

.linkSelection {
  height: 300px;
}

.selection span.spanLabel {
  display: block;
  width: 100px;
  height: 24px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-size: medium;
  margin: 0 auto;
}