* {
  padding: 0;
}

.selection {
  position: absolute;
  left: 0;
  top: 5vh;
  /* min-height: 850px; */
  height: 86vh;
  width: 11vw;
  padding: 1vh 0.5vw 1vh 0.5vw;
  border-top-left-radius: 0vh;
  border-top-right-radius: 1vh;
  border-bottom-right-radius: 1vh;
  border-bottom-left-radius: 1vh;
  box-sizing: border-box;
  z-index: 999;
  background-color: white;
  box-shadow: 0vh 0.5vh 1vh #cdcfcf;
  scrollbar-width: none;
  /* background-color: pink; */
}

.selection .title {
  /* background-color: red; */
  height: 6vh;
  width: 8vw;
  border-bottom: 0.3vh solid #ccc;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5vh;
  font-weight: bold;
  line-height: 6vh;
}

.selection .content {
  height: 78vh;
  width: 10vw;
}

.selection .content ul.list {
  height: 100%;
  width: 100%;
  padding: 0.5vw;
  list-style-type: none;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.selection .content li.item {
  width: 9vw;
}

li.item .selectionLabel {
  width: 8vw;
  height: 4vh;
  margin: 0 auto;
  text-align: center;
  line-height: 4vh;
  /* background-color: red; */
  font-size: 2vh;
  color: black;
  font-weight: bold;
}

.ant-tree {
  overflow-y: scroll;
  font-size: 1.5vh;
}

.areaSelection .ant-tree {
  height: 206px;
}

.roleSelection .ant-tree {
  height: 150px;
}

.linkSelection .ant-tree {
  height: 170px;
}