.switchbar {
    height: 5vh;
    width: 100%;
    /* background-color: pink; */
    box-shadow: 0 0vh 0.5vh #ccc;
    line-height: 4vh;
}

.switch-label {
    padding-left: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: inline-flex;
    margin-top: 4px;
}

.switch{
    margin-top: -6px;
}