.areaInfo {
    position: fixed;
    bottom: 0;
    background-color: #eae7e7;
    width: 30%;
    height: 3%;

    /* font setting */
    text-align: center;
    font-size: 20px; 
    font-weight: bold;
    color: rgb(0, 0, 0);
}