.aznodelinkContainer {
    float: left;
    width: 50%;
    height: 100%;
    top: 47px;
    /* background-color: pink; */
    position: absolute;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}