.bubbleDetailLegendContainer {
    position: absolute;
    height: 250px;
    width: 180px;
    right: 0;
    top: 20;
    background-color: rgb(255, 255, 255);
    /* background-color: pink; */
    border: 1px solid;
}