.allContainer {
    /* background-color: red; */
    height: 86vh;
    background-color: white;
    box-shadow: 0vh 0.5vh 1vh #cdcfcf;
    scrollbar-width: none;
}

.bubbleContainer {
    width: 25%;
    height: 430px;
    float: left;
    /* background-color: pink; */
    left: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;

}

.alarmingBubble {
    animation-timing-function: ease-in;
    animation-name: alarm;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    fill: rgb(255, 0, 47);
    opacity: 1;
    font-weight: bold;
}

@keyframes alarm {
    from {
        fill: #ff0000;
    }

    25% {
        fill: rgb(255, 85, 85);
    }

    50% {
        fill: rgb(249, 102, 102);
    }

    75% {
        fill: rgb(255, 57, 57);
    }


    to {
        fill: rgb(255, 0, 0);
    }
}