.legendContainer {
    position: absolute;
    right: 11px;
    top: 147px;
    height: 250px;
    width: 200px;
    padding: 0px 20px 0px 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px #cdcfcf;

}

.legendText {
    font-size: 16px;
}

.link {
    font-size: 16px;
}