.legendContainer {
    position: absolute;
    right: 0.5vw;
    top: 6vh;
    height: 250px;
    width: 180px;
    font-size: 1.5vh;
    padding: 0 0.5vh 0 0.5vh;
    border-radius: 1vh;
    background-color: white;
    box-shadow: 0 0 1vh #cdcfcf;

}